
.scene-container {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 800px;
}

.scene {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
}

.cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: rotateCube 20s infinite linear;
}

.cube__face {
  position: absolute;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid hsl(var(--border));
  border-radius: 1rem;
  background-color: hsla(var(--card) / 0.8);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.cube__face--1 { transform: rotateY(  0deg) translateZ(100px); }
.cube__face--2 { transform: rotateY( 90deg) translateZ(100px); }
.cube__face--3 { transform: rotateY(180deg) translateZ(100px); }
.cube__face--4 { transform: rotateY(-90deg) translateZ(100px); }
.cube__face--5 { transform: rotateX( 90deg) translateZ(100px); }
.cube__face--6 { transform: rotateX(-90deg) translateZ(100px); }


@keyframes rotateCube {
  0% { transform: rotateX(0deg) rotateY(0deg); }
  100% { transform: rotateX(360deg) rotateY(360deg); }
}

